.slide-container {
	padding: 0 200 200;
	display: flex;
	justify-content: center;
	background-color: #e1e6ea;
}

.column2 {
	 padding: 1rem;
	 display:flex;
	 flex-direction: column;
}

.bloc1 {
	background-color: #A2C723;
	width:50px;
    height:100px;
    align-self: end;
}

.bloc2 {
	background-color: #661111;
	width:150px;
    height:200px;
    align-self: top;
}


.one {
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	height: 300px;
}

.two { 
	background-color: #A2C723;
}

figure {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
}

figcaption {
	position: absolute;
	height: 99%;
	right: 0;
	bottom: 0;
	display: inline-flex;
}