.cv-container {
  padding: 0 200 200;
  justify-content: center;
  background-color:#e8eef4;
  display: flex;
}

.header {
  background-color: #797070;
  position: absolute;
  width: 100%;
}

.headerText {
  text-align: center;
  color: white;
  font-family: monospace;
}

.info-cv {
  background-color: ##6fa8dc;
  margin-right: 20px;
  margin-left: 10px;
  margin-top:50px;
  padding: 1rem;
}

.nom {
  font-family: monospace;
}

.titleCompetence {
  font-family: "georgia";
}

.nameCompetence {
  font-family: monospace;
}

.main-cv {
  margin-top:100px;
  margin-left: 20px;
  margin-right: 20px;
}


